{% include 'public_header.html' %}
    <form method="post">
        <table align="center" border="1">
            <tr>
                <td>First Name</td>
                <td><input type="text" name="fname"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="password" name="lname"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" name="submit"></td>
            </tr>
        </table>
    </form>
{% include 'footer.html' %}